h2{
  margin-left: auto;
  margin-right: auto;
}
#atas{
  background-color: #cae8d5;
}
.navbar-brand{
  color: black;
  font-family: cursive;
  font-size: 3rem;

}
.container-fluid{
padding: 5% 25%;
padding-bottom: 5%;

}
.navbar-brand{
  font-family: 'Satisfy', cursive;

}
.img{
  width: 100%;
  position: absolute;

}
.img2, .img3{
  padding-top: 30px;
width: auto;
height: 400px;
max-height: 400px;
}
.img4{
  padding-top: 30px;
width: auto;
height: 500px;
max-height: 500px;
}
.img5{
  padding-top: 200px;
width: auto;
height: 500px;
max-height: 500px;
}

#tengah{

  padding: 7% 15%;
  background-color:#f1ebbb;



}
.navbar{
  padding-bottom: 200px;
}
.good{

}
.judul1{
  padding-top: 10%;
  padding-bottom: 10px;
  font-size: 3rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Indie Flower', cursive;


}
.jdl{
  padding-bottom: 20px;
  margin-bottom: 90px;
}
.para1{
  padding-top: 10%;
  text-align: center;
  font-size: 1.2rem;
}
.col1{
  margin-left: auto;
  margin-right: auto;
}
.ptabel{
 text-align: center;
 padding-top: 45px;
 line-height: 2;
 margin-left: 0;
 font-weight: bold;
}
.container{
  text-align: center;
}

#daftar{
background-color: #f1ebbb;
}
#berita{

  text-align: center;
}
#footer{
  text-align: center;
  background-color: #d6e6f2;
  padding: 7% 15%;
}
#footer2{
  text-align: center;
  background-color: #d6e6f2;
padding-bottom: 20px;
margin-bottom: 0;
}
.social{
  margin: 20px 10px;
}
.pfoot{
color: grey;
}
.card{
  background-color: #f1ebbb;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
}
.best{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  font-family: 'Indie Flower', cursive;
}
.carousel-item{
  padding: 5% 17%;
}
.nav-link{
  font-size: 1.5rem;
}
.map{
  text-align: center;

}
.map1{
padding-top: 50px;
width: 50%;

}
